{% extends 'base.html' %}
{% block content %}
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <ul>
        {% for message in messages %}
        <li>
          <a
            href="{{ url_for('messages.show', id=message.id) }}"
            style="text-decoration: none;color: black;"
          >
            {{ message.message }}
          </a>
        </li>
        {% endfor %}
    </ul>
    {% if g.current_user == user %}
    <form action="{{ url_for('messages.new', user_id=user.id) }}" method="GET">
        <input type="submit" value="New Message">
    </form>
    <form action="{{ url_for('users.edit', id=user.id) }}" method="GET">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="submit" value="Change Name">    
    </form>
    <form action="{{ url_for('users.logout') }}" method="GET">
        <input type="submit" value="Sign Out">
    </form>
    <form action="{{ url_for('users.delete', id=user.id) }}?_method=DELETE" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="submit" value="Delete Account">
    </form>
    {% endif %}
    <form action="{{ url_for('users.index') }}" method="GET">
        <input type="submit" value="Users">
    </form>
    <form action="{{ url_for('messages.index') }}" method="GET">
        <input type="submit" value="Messages">
    </form>
    <form action="{{ url_for('tags.index') }}" method="GET">
        <input type="submit" value="Tags">
    </form>
    {% endblock %}
    