{% extends 'base.html' %}
{% block content %}
<h3>{{ user.first_name }} {{ user.last_name }}</h3>
<ul>
    {% for message in messages %}
    <li>
        {{ message.content }}
        <form action="{{ url_for('edit_message', id=message.id) }}">
            <input type="submit" name="edit_message" id="edit_message_btn" value="Edit">
        </form>
        <form action="{{ url_for('delete_message', id=message.id) }}?_method=DELETE" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" name="del_message" id="del_message_btn"
            value="X" style="color: red;">
        </form>
    </li>
    {% endfor %}
</ul>
<form action="{{ url_for('new_message', user_id=user.id) }}">
    <input type="submit" name="new_message" id="new_message" value="New Message">
</form>
<form action="{{ url_for('edit', id=user.id) }}">
    <input type="submit" name="edit_user" id="edit_user_btn" value="Change Name">
</form>
<form action="{{ url_for('delete_user', id=user.id) }}?_method=DELETE" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="submit" name="del_user" id="del_user_btn" value="Delete Account">
</form>
<form action="{{ url_for('index') }}">
        <input type="submit" value="Messages">
    </form>
{% endblock %}