{% extends 'base.html' %}
{% block content %}
  <h1>Messages from People</h1>
  <ul>
      {% for message in messages %}
          <li>
              {{ message.message }} --- <a href="{{ url_for('users.show', id=message.users[0].id) }}"
              style="text-decoration: none;color: black;">
              {{ message.users[0].first_name }} {{ message.users[0].last_name }}
              </a>
          </li>
      {% endfor %}
  </ul>
  <form action="{{ url_for('users.index') }}">
        <input type="submit" value="See all users">
    </form>
  <form action="{{ url_for('users.new') }}">
        <input type="submit" value="Sign Up">
    </form>
{% endblock %}