{% extends 'base.html' %}
{% block content %}
<form method="POST" action="{{url_for('departments.new_department')}}">
    {{ form.csrf_token }}
  <p>
    {{ form.name(placeholder="Name") }}
    <span>
      {% if form.name.errors %}
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button type="submit">Add Department</button>
</form>
<form action="{{ url_for('departments.index') }}" method="GET">
    <input type="submit" value="Cancel">
</form>
{% endblock %}